<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.darren1112.dptms.system.service.dao.ServiceConfigProfilePropDao">
    <!--查询服务应用list-->
    <select id="list" parameterType="com.darren1112.dptms.common.spi.service.dto.ServiceConfigProfileDto"
            resultType="com.darren1112.dptms.common.spi.service.dto.ServiceConfigProfileDto">
        SELECT id,
               application_id AS applicationId,
               profile_code   AS profileCode,
               profile_name   AS profileName,
               remark,
               isvalid,
               ctime,
               creater,
               mtime,
               updater
        FROM service_config_profile
        WHERE isvalid = 1
          AND application_id = #{applicationId}
        <if test="profileCode != null and profileCode != ''">
            AND profile_code LIKE concat('%', #{profileCode}, '%')
        </if>
        <if test="profileName != null and profileName != ''">
            AND profile_name LIKE concat('%', #{profileName}, '%')
        </if>
    </select>
</mapper>
