<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.darren1112.dptms.file.dao.FileCenterDao">
    <!--根据父节点id查询-->
    <select id="list" resultType="com.darren1112.dptms.common.spi.file.dto.FileCenterDto">
        SELECT t1.id,
               t1.file_name           AS fileName,
               t1.file_desc           AS fileDesc,
               t1.file_type           AS fileType,
               t1.file_parent_id      AS fileParentId,
               t1.file_parent_path    AS fileParentPath,
               t1.file_order          AS fileOrder,
               t1.file_id             AS fileId,
               t1.mtime,
               t1.ctime,
               t2.file_type           AS fileInfoType,
               t2.file_size           AS fileSize,
               t2.file_ext            AS fileExt,
               t3.real_name           AS creatorName,
               (SELECT COALESCE(SUM(t5.file_size), 0)
                FROM file_center t4
                         LEFT JOIN file_info t5 ON t4.isvalid = 1 AND t4.file_id = t5.id
                WHERE t4.isvalid = 1
                  AND t4.file_parent_path
                        LIKE concat(t1.file_parent_path, '/', t1.id)) AS fileSizeCount
        FROM file_center t1
                 LEFT JOIN file_info t2 ON t2.isvalid = 1 AND t2.id = t1.file_id
                 LEFT JOIN auth_user t3 ON t3.isvalid = 1 AND t3.id = t1.creater
        WHERE t1.isvalid = 1
          AND t1.file_parent_id = #{parentId}
    </select>

    <!--新增文件/文件夹-->
    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id"
            parameterType="com.darren1112.dptms.common.spi.file.dto.FileCenterDto">
        INSERT INTO file_center(org_id, file_name, file_desc, file_type,
                                file_parent_id, file_parent_path, file_order,
                                file_id, remark, isvalid, ctime, creater, mtime, updater)
        VALUES (#{orgId}, #{fileName}, #{fileDesc}, #{fileType},
                #{fileParentId}, #{fileParentPath}, #{fileOrder},
                #{fileId}, #{remark}, 1, now(), #{creater}, now(), #{updater})
    </insert>
</mapper>
