<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.darren1112.dptms.file.dao.FileDfsInfoDao">
    <!--批量新增-->
    <insert id="batchInsert">
        INSERT INTO file_dfs_info(file_info_id, file_group, file_path, file_size,
                                  file_order, remark, isvalid, ctime, creater, mtime, updater)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.fileInfoId},
            #{item.fileGroup},
            #{item.filePath},
            #{item.fileSize},
            #{item.fileOrder},
            #{item.remark},
            1,
            now(),
            #{item.creater},
            now(),
            #{item.updater}
            )
        </foreach>
    </insert>

    <!--根据文件信息id查询文件存储信息-->
    <select id="listByFileInfoId"
            resultType="com.darren1112.dptms.common.spi.file.dto.FileDfsInfoDto">
        SELECT id,
               file_info_id AS fileInfoId,
               file_group   AS fileGroup,
               file_path    AS filePath,
               file_size    AS fileSize,
               file_order   AS fileOrder
        FROM file_dfs_info
        WHERE isvalid = 1
          AND file_info_id = #{fileId}
    </select>
</mapper>
