<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.darren1112.dptms.auth.dao.AuthOrganizationDao">
    <!--查询重复记录数-->
    <select id="countByRepeat" parameterType="com.darren1112.dptms.common.spi.auth.entity.AuthOrganizationEntity"
            resultType="java.lang.Long">
        SELECT count(1)
        FROM auth_organization
        WHERE isvalid = 1
            AND (org_code = #{orgCode} OR org_name = #{orgName})
        <if test="isUpdate != null and isUpdate == true">
            AND id != #{id}
        </if>
    </select>
    <!--插入组织信息-->
    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id"
            parameterType="com.darren1112.dptms.common.spi.auth.dto.AuthOrganizationDto">
        INSERT INTO auth_organization(org_name, org_code, remark, isvalid, ctime, creater, mtime, updater)
        VALUES (#{orgName}, #{orgCode}, #{remark}, 1, now(), #{creater}, now(), #{updater})
    </insert>
    <!--更新组织信息-->
    <update id="update" parameterType="com.darren1112.dptms.common.spi.auth.entity.AuthOrganizationEntity">
        UPDATE auth_organization
        SET mtime    = now(),
            org_name = #{orgName},
            org_code = #{orgCode},
            updater  = #{updater}
        WHERE isvalid = 1
          AND id = #{id}
    </update>
    <!--根据id删除记录-->
    <update id="deleteById">
        UPDATE auth_organization
        SET mtime   = now(),
            updater = #{updater},
            isvalid = 0
        WHERE isvalid = 1
          AND id = #{id}
    </update>
    <!--分页查询组织记录-->
    <select id="listPage" resultType="com.darren1112.dptms.common.spi.auth.dto.AuthOrganizationDto">
        SELECT id,
               org_name AS orgName,
               org_code AS orgCode,
               remark,
               isvalid,
               ctime,
               creater,
               mtime,
               updater
        FROM auth_organization
        WHERE isvalid = 1
        <if test="param.orgCode != null and param.orgCode != ''">
            AND org_code LIKE concat('%', #{param.orgCode}, '%')
        </if>
        <if test="param.orgName != null and param.orgName != ''">
            AND org_name LIKE concat('%', #{param.orgName}, '%')
        </if>
        ORDER BY org_name
        LIMIT #{pageParam.startIndex}, #{pageParam.pageSize}
    </select>
    <!--分页查询组织记录-总记录数-->
    <select id="listPageCount" parameterType="com.darren1112.dptms.common.spi.auth.dto.AuthOrganizationDto"
            resultType="java.lang.Long">
        SELECT count(1)
        FROM auth_organization
        WHERE isvalid = 1
        <if test="orgCode != null and orgCode != ''">
            AND org_code LIKE concat('%', #{orgCode}, '%')
        </if>
        <if test="orgName != null and orgName != ''">
            AND org_name LIKE concat('%', #{orgName}, '%')
        </if>
    </select>
    <!--根据用户id查询组织集合-->
    <select id="listByUserId" parameterType="java.lang.Long"
            resultType="com.darren1112.dptms.common.spi.auth.dto.AuthOrganizationDto">
        SELECT t2.id,
               t2.org_name AS orgName,
               t2.org_code AS orgCode,
               t2.remark
        FROM auth_user_organization t1
                 INNER JOIN auth_organization t2 ON t2.isvalid = 1 AND t2.id = t1.org_id
        WHERE t1.isvalid = 1
          AND t1.user_id = #{userId}
    </select>
</mapper>
