<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.darren1112.dptms.auth.dao.AuthMenuDao">
    <!--获取用户的菜单-->
    <select id="listMenuByUserId" resultType="com.darren1112.dptms.common.spi.auth.dto.AuthMenuDto">
        SELECT DISTINCT t5.id,
                        t5.menu_name      AS menuName,
                        t5.menu_code      AS menuCode,
                        t5.menu_type      AS menuType,
                        t5.menu_parent_id AS menuParentId,
                        t5.remark,
                        t5.isvalid,
                        t5.ctime,
                        t5.creater,
                        t5.mtime,
                        t5.updater
        FROM sys_user t1
                 INNER JOIN sys_user_role t2 ON t2.isvalid = 1 AND t2.user_id = t1.id
                 INNER JOIN sys_role t3 ON t3.isvalid = 1 AND t3.id = t2.role_id
                 INNER JOIN sys_role_menu t4 ON t4.isvalid = 1 AND t4.role_id = t3.id
                 INNER JOIN sys_menu t5 ON t5.isvalid = 1 AND t5.id = t4.menu_id
        WHERE t1.isvalid = 1
          AND t1.id = #{userId}
    </select>
    <!--插入菜单信息-->
    <insert id="insert" useGeneratedKeys="true" keyColumn="id"
            parameterType="com.darren1112.dptms.common.spi.auth.entity.AuthMenuEntity">
        INSERT INTO sys_menu(menu_name, menu_code, menu_type, menu_parent_id, remark,
                             isvalid, ctime, creater, mtime, updater)
        VALUES (#{menuName}, #{menuCode}, #{menuType}, #{menuParentId}, #{remark},
                1, now(), #{creater}, now(), #{updater})
    </insert>
    <!--查询是否重复-->
    <select id="countByRepeat" resultType="java.lang.Long"
            parameterType="com.darren1112.dptms.common.spi.auth.dto.AuthMenuDto">
        SELECT COUNT(1)
        FROM sys_menu
        WHERE isvalid = 1
        AND (menu_code = #{menuCode})
        <if test="isUpdate != null and isUpdate == true">
            AND id != #{id}
        </if>
    </select>
    <!--根据id删除记录-->
    <update id="deleteById">
        UPDATE sys_menu
        SET mtime   = now(),
            updater = #{updater},
            isvalid = 0
        WHERE isvalid = 1
          AND id = #{id}
    </update>
    <!--更新菜单信息-->
    <update id="update">
        UPDATE sys_menu
        SET mtime           = now(),
            menu_name       = #{menuName},
            menu_code       = #{menuCode},
            menu_type       = #{menuType},
            remark          = #{remark},
            updater         = #{updater}
        WHERE isvalid = 1
          AND id = #{id}
    </update>
    <!--查询菜单list-->
    <select id="list" resultType="com.darren1112.dptms.common.spi.auth.dto.AuthMenuDto">
        SELECT id,
               menu_name      AS menuName,
               menu_code      AS menuCode,
               menu_type      AS menuType,
               menu_parent_id AS menuParentId,
               remark,
               isvalid,
               ctime,
               creater,
               mtime,
               updater
        FROM sys_menu
        WHERE isvalid = 1
        ORDER BY menu_parent_id, id
    </select>
</mapper>
