<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.darren1112.dptms.auth.dao.SysUserOrganizationDao">
    <!--查询用户关联的组织list-->
    <select id="listUserAssigned" parameterType="java.lang.Long"
            resultType="com.darren1112.dptms.common.spi.auth.dto.AuthOrganizationDto">
        SELECT t1.id,
               t1.org_name     AS orgName,
               t1.org_code     AS orgCode,
               t1.remark,
               t1.isvalid,
               t1.ctime,
               t1.creater,
               t1.mtime,
               t1.updater,
               CASE WHEN t2.user_id IS NULL THEN 0
                    ELSE 1 END AS isAssigned
        FROM sys_organization t1
                 LEFT JOIN sys_user_organization t2 ON t2.isvalid = 1 AND t2.org_id = t1.id AND t2.user_id = #{userId}
        WHERE t1.isvalid = 1
    </select>
    <!--根据用户id删除记录-->
    <update id="deleteByUserId">
        UPDATE sys_user_organization
        SET mtime   = now(),
            isvalid = 0,
            updater = #{updater}
        WHERE isvalid = 1
          AND user_id = #{userId}
    </update>
    <!--批量插入用户组织信息-->
    <insert id="batchInsert">
        INSERT INTO sys_user_organization(org_id, user_id, remark, isvalid, ctime, creater, mtime, updater)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.orgId}, #{item.userId}, #{item.remark}, 1, now(), #{item.creater}, now(), #{item.updater})
        </foreach>
    </insert>
</mapper>
