<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.darren1112.dptms.system.sys.dao.SysMenuDao">
    <!--插入菜单信息-->
    <insert id="insert" useGeneratedKeys="true" keyColumn="id"
            parameterType="com.darren1112.dptms.common.spi.sys.entity.SysMenuEntity">
        INSERT INTO sys_menu(menu_name, menu_code, menu_type, menu_parent_id, remark,
                             isvalid, ctime, creater, mtime, updater)
        VALUES (#{menuName}, #{menuCode}, #{menuType}, #{menuParentId}, #{remark},
                1, now(), #{creater}, now(), #{updater})
    </insert>
    <!--查询是否重复-->
    <select id="countByRepeat" resultType="java.lang.Long"
            parameterType="com.darren1112.dptms.common.spi.sys.dto.SysMenuDto">
        SELECT COUNT(1)
        FROM sys_menu
        WHERE isvalid = 1
            AND (menu_code = #{menuCode})
        <if test="isUpdate != null and isUpdate == true">
            AND id != #{id}
        </if>
    </select>
    <!--根据id删除记录-->
    <update id="deleteById">
        UPDATE sys_menu
        SET mtime   = now(),
            updater = #{updater},
            isvalid = 0
        WHERE isvalid = 1
            AND id = #{id}
    </update>
    <!--更新菜单信息-->
    <update id="update">
        UPDATE sys_menu
        SET mtime           = now(),
            menu_name       = #{menuName},
            menu_code       = #{menuCode},
            menu_type       = #{menuType},
            remark          = #{remark},
            updater         = #{updater}
        WHERE isvalid = 1
            AND id = #{id}
    </update>
    <!--查询菜单list-->
    <select id="list" resultType="com.darren1112.dptms.common.spi.sys.dto.SysMenuDto">
        SELECT id,
               menu_name      AS menuName,
               menu_code      AS menuCode,
               menu_type      AS menuType,
               menu_parent_id AS menuParentId,
               remark,
               isvalid,
               ctime,
               creater,
               mtime,
               updater
        FROM sys_menu
        WHERE isvalid = 1
        ORDER BY menu_parent_id, id
    </select>
</mapper>
