<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.darren1112.dptms.system.sys.dao.SysUserRoleDao">
    <!--清空用户已分配的角色-->
    <delete id="deleteByUserId">
        UPDATE sys_user_role
        SET mtime   = now(),
            isvalid = 0,
            updater = #{updater}
        WHERE isvalid = 1
          AND user_id = #{userId}
    </delete>
    <!--批量插入-->
    <insert id="batchInsert">
        INSERT INTO sys_user_role(role_id, user_id, remark, isvalid, ctime, creater, mtime, updater)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.roleId}, #{item.userId}, #{item.remark}, 1, now(), #{item.creater}, now(), #{item.updater})
        </foreach>
    </insert>
    <!--查询用户关联的角色list-->
    <select id="listUserAssigned" parameterType="java.lang.Long"
            resultType="com.darren1112.dptms.common.spi.sys.dto.SysRoleDto">
        SELECT t1.id,
               t1.role_name    AS roleName,
               t1.role_code    AS roleCode,
               t1.is_admin     AS isAdmin,
               t1.remark,
               t1.isvalid,
               t1.ctime,
               t1.creater,
               t1.mtime,
               t1.updater,
               CASE WHEN t2.user_id IS NULL THEN 0
                    ELSE 1 END AS isAssigned
        FROM sys_role t1
                 LEFT JOIN sys_user_role t2 ON t2.isvalid = 1 AND t2.role_id = t1.id AND t2.user_id = #{userId}
        WHERE t1.isvalid = 1
    </select>
</mapper>
